@font-face {
    font-family: 'Random Grotesque Standard';
    src: url('RG-StandardSemibold.woff2') format('woff2'),
        url('RG-StandardSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

